PORT=80
NODE_ENV=development
SERVICE_AUTH_URL=http://localhost:5001
SERVICE_CONTAINERS_URL=http://localhost:5002
SERVICE_ROUTES_URL=http://localhost:5003
SERVICE_IOT_URL=http://localhost:5004
SERVICE_GAMIFICATION_URL=http://localhost:5005
SERVICE_ANALYTICS_URL=http://localhost:5006
SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0
